@import "~antd/dist/antd.less";

@dhbcd: black;

.ant-row {
  height: 43vw;
}

.skills_exp {
  padding-top: 100px;
  .ant-progress {
    margin: 10px;
    .ant-progress-text {
      color: black;
    }
  }
}

.skillsbar {
  margin-left: 150px;
}

.skillsCircles {
  padding: 50px;
}

.service {
  margin-top: 80px;
}

.experience {
  margin-top: -130px;
  padding: 50px;
  background-color: #f7f7f7;
  z-index: -1;
  h2.ant-typography {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

.expTitle {
  margin-bottom: 50px;
}

.bannerButton {
  margin: 20px;
}

.bannerIntro {
  vertical-align: middle;
  padding-top: 24%;
  margin-left: 100px;
  h4.ant-typography {
    margin: 0px;
  }
  .ant-typography + h5.ant-typography {
    margin-top: 40px;
  }
  h1.ant-typography {
    margin: 0px;
  }
}

.ant-tabs-nav {
  background-color: #f7f7f7;
  border-bottom: 1px solid;
  box-shadow: 5px 5px 5px #888888;
  .ant-tabs-tab-btn {
    font-size: 0.9vw;
    margin: 2px;
  }
}

.bannerimg {
  margin-top: -4%;
  z-index: -1;
}

.portfolio {
  background-color: @primary-color;
  height: auto;
  padding: 30px 0px;
  margin-top: -240px;
  .project {
    max-width: 480px;
    height: 300px;
    padding: 10px;
    background-color: #f7f7f7;
    margin: 0 auto;
    .project:hover {
      box-shadow: 5px 5px 5px #888888;
    }
    .visitButton {
      margin-top: 10px;
    }
  }
  h2.ant-typography {
    color: #f7f7f7;
  }
  .ant-row {
    margin: 50px;
    height: auto;
    margin-bottom: 80px;
  }
}

.servicesContainer {
  margin: 0 auto;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h5.ant-typography {
    margin-bottom: 40px;
  }
}

.contact {
  height: 800px;
  .contactImage {
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
  }
}
